<div class="related-posts">
    <h3 class="related-post-title">{{ site.text.post.related_posts | default: "Related Posts" }}</h3>
{% assign max_related = 5 %}
{% assign min_common_tags =  1 %}
{% assign max_related_counter = 0 %}
{% assign posts = site.posts | where_exp:"post","post.url != page.url" %}
{% for post in posts %}
    {% assign same_tag_count = 0 %}
    {% assign common_tags = '' %}
    {% for tag in post.tags %}
        {% if page.tags contains tag %}
            {% assign same_tag_count = same_tag_count | plus: 1 %}
            {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
            {% assign common_tags = common_tags | append: tagmarkup %}
        {% endif %}
    {% endfor %}
    {% if same_tag_count >= min_common_tags %}
      <div class="post ml2">
        <a href="{{ post.url | relative_url }}" class="post-link">
          <h4 class="post-title">{{ post.title }}</h4>
        </a>
        <p class="post-summary">{{ post.summary }}</p>
      </div>
      {% assign max_related_counter = max_related_counter | plus: 1 %}
      {% if max_related_counter >= max_related %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
