.category-title {
    // font-weight: bold;
    font-size: $h1-big;
    text-transform: uppercase;
    color: $dark-blue;
    margin-bottom: 1px;
    margin-top: $space-1;
    //font-family: $link-font-family;
}
